
<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Tap-Room</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
      <li class="nav-item active">
      <button (click)="showNew()" class="btn btn-outline-secondary">Add New Keg</button>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li> -->
    </ul>
     <div class="form-inline">

			 <label class="filter">Filter by name </label>
			 <input type="text" [(ngModel)]="term" class="form-control">
     </div>

  </div>
</nav>


<div class="site-wrapper">
<div class="container">

<!-- <h1 class="text-center">Tap-Room</h1> -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<br>

<div class="keg">
	<div *ngFor="let keg of kegs | async | filter:term; let i = index">
		<h3 class="name">{{keg.name}}</h3>
		<h4 class="origin">{{keg.origin}}</h4>
		<img class="circle" src={{keg.imageUrl}} />

		<div class="style">
			<h3>{{keg.style}}</h3>
		</div>
		<h5>{{keg.ABV}}% ABV - {{keg.IBU}} IBU</h5>
		<h5 class="tap">KEG #{{i+1}}</h5>
		<div class="glass">
			<div class="liquid" [style.height.px]="
			(keg.pints/124)*240"></div>
		</div>
		<h6> <small>( {{keg.pints}} / 124 )</small> </h6>
		<button  (click)="buyPint(keg.$key, keg)" class="btn btn-outline-success">Buy</button>
		<button (click)="showDetails(keg)" class="btn  btn-outline-info">Info</button>
		<button (click)="showEdit(keg)" class="btn  btn-outline-warning">Edit</button>

	</div>
</div>

<div *ngIf="edit">
	  <div class="form-group">
	    <label for="">Name: </label>
	    <input type="name" class="form-control" [(ngModel)]="currentBeerEdit.name"  placeholder="Name:">
	  </div>
	  <div class="form-group">
	    <label for="">Description: </label>
	    <input type="description" class="form-control" [(ngModel)]="currentBeerEdit.description"  placeholder="Description:">
	  </div>
	  <div class="form-group">
	    <label for="">Style: </label>
	    <input type="style" class="form-control" [(ngModel)]="currentBeerEdit.style"  placeholder="Style:">
	  </div>
	  <div class="form-group">
	    <label for="">Origin: </label>
	    <input type="origin" class="form-control" [(ngModel)]="currentBeerEdit.origin"  placeholder="Origin:">
	  </div>
	  <div class="form-group">
	    <label for="">Brand: </label>
	    <input type="brand" class="form-control" [(ngModel)]="currentBeerEdit.brand"  placeholder="Brand:">
	  </div>
	  <div class="form-group">
	    <label for="">ABV: </label>
	    <input type="ABV" class="form-control" [(ngModel)]="currentBeerEdit.ABV"  placeholder="ABV:">
	  </div>
	  <div class="form-group">
	    <label for="">IBU: </label>
	    <input type="IBU" class="form-control" [(ngModel)]="currentBeerEdit.IBU"  placeholder="IBU:">
	  </div>
	  <div class="form-group">
	    <label for="">Price: </label>
	    <input type="price" class="form-control" [(ngModel)]="currentBeerEdit.price"  placeholder="Price:">
	  </div>
	  <div class="form-group">
	    <label for="">ImageUrl: </label>
	    <input type="imageUrl" class="form-control" [(ngModel)]="currentBeerEdit.imageUrl"  placeholder="ImageUrl:">
	  </div>
	  <div class="form-group">
	    <label for="">pints: </label>
	    <input type="pints" class="form-control" [(ngModel)]="currentBeerEdit.pints"  placeholder="pints:">
	  </div>

	  <button (click)="editKeg(currentBeerEdit)" class="btn btn-default">Update</button>
</div>
<div *ngIf="add">
		<div class="form-group">
			<label for="">Name: </label>
			<input class="form-control"  placeholder="Name:" [(ngModel)]="name">
		</div>
		<div class="form-group">
			<label for="">Description: </label>
			<input  class="form-control"  placeholder="Description:" [(ngModel)]="description">
		</div>
		<div class="form-group">
			<label for="">Style: </label>
			<input  class="form-control"  placeholder="Style:" [(ngModel)]="style">
		</div>
		<div class="form-group">
			<label for="">Origin: </label>
			<input  class="form-control"  placeholder="Origin:" [(ngModel)]="origin">
		</div>
		<div class="form-group">
			<label for="">Brand: </label>
			<input  class="form-control"   placeholder="Brand:" [(ngModel)]="brand">
		</div>
		<div class="form-group">
			<label for="">ABV: </label>
			<input  class="form-control" placeholder="ABV:" [(ngModel)]="abv">
		</div>
		<div class="form-group">
			<label for="">IBU: </label>
			<input  class="form-control" placeholder="IBU:" [(ngModel)]="ibu">
		</div>
		<div class="form-group">
			<label for="">Price: </label>
			<input  class="form-control"   placeholder="Price:" [(ngModel)]="price">
		</div>
		<div class="form-group">
			<label for="">ImageUrl: </label>
			<input  class="form-control" placeholder="ImageUrl:" [(ngModel)]="imageurl">
		</div>
		<div class="form-group">
			<label for="">pints: </label>
			<input  class="form-control"  placeholder="pints:" [(ngModel)]="pints">
		</div>

	<input class="btn btn-success" value="Submit" (click)="addKeg()">
	</div>




  <div class="card" *ngIf="details">
    <div class="card-header">
      Featured
    </div>
    <div class="card-block">
        <div class="row">
          <div class="col-sm-4">
            <img src={{currentBeer.imageUrl}} alt="" />
          </div>

          <div class="col-sm-8 text-left">
            <h2 class="card-title">{{currentBeer.name}}</h2>
            <h5>ABV</h5>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="70"
              aria-valuemin="0" aria-valuemax="100" [style.width.%]="
        			(currentBeer.ABV)">
                {{currentBeer.ABV}}%
              </div>
            </div>
            <h5>IBU</h5>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="70"
              aria-valuemin="0" aria-valuemax="100" [style.width.%]="
        			(currentBeer.IBU)">
                {{currentBeer.IBU}}%
              </div>
            </div>
            <h2 class="card-title">Description:</h2>
            <p>
              {{currentBeer.description}}
            </p>
          </div>
        </div>

    <div class="card-footer text-muted">
      2 days ago
    </div>
  </div>

</div>
