<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Tap-Room</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
      <li class="nav-item active">
      <button (click)="showNew()" class="btn btn-outline-secondary">Add New Keg</button>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li> -->
    </ul>
     <div class="form-inline">

			 <label class="filter">Filter by name </label>
			 <input type="text" [(ngModel)]="term" class="form-control">
     </div>

  </div>
</nav>


<div class="site-wrapper">
<div class="container">

<!-- <h1 class="text-center">Tap-Room</h1> -->


<br>

<div class="keg">
	<div *ngFor="let keg of kegs | async | filter:term; let i = index">
		<h3 class="name">{{keg.name}}</h3>
		<h4 class="origin">{{keg.origin}}</h4>
		<img class="circle" src={{keg.imageUrl}} />

		<div class="style">
			<h3>{{keg.style}}</h3>
		</div>
		<h5>{{keg.ABV}}% ABV - {{keg.IBU}} IBU</h5>
		<h5 class="tap">KEG #{{i+1}}</h5>
		<div class="glass">
			<div class="liquid" [style.height.px]="
			(keg.pints/124)*240"></div>
		</div>
		<h6> <small>( {{keg.pints}} / 124 )</small> </h6>
		<button  (click)="buyPint(keg.$key, keg)" class="btn btn-outline-success">Buy</button>
		<button (click)="showDetails(keg)" class="btn  btn-outline-info">Info</button>
		<button (click)="showEdit(keg)" class="btn  btn-outline-warning">Edit</button>

	</div>
</div>

<div *ngIf="edit">
	  <div class="form-group">
	    <label for="">Name: </label>
	    <input type="name" class="form-control" [(ngModel)]="currentBeerEdit.name"  placeholder="Name:">
	  </div>
	  <div class="form-group">
	    <label for="">Description: </label>
	    <input type="description" class="form-control" [(ngModel)]="currentBeerEdit.description"  placeholder="Description:">
	  </div>
	  <div class="form-group">
	    <label for="">Style: </label>
	    <input type="style" class="form-control" [(ngModel)]="currentBeerEdit.style"  placeholder="Style:">
	  </div>
	  <div class="form-group">
	    <label for="">Origin: </label>
	    <input type="origin" class="form-control" [(ngModel)]="currentBeerEdit.origin"  placeholder="Origin:">
	  </div>
	  <div class="form-group">
	    <label for="">Brand: </label>
	    <input type="brand" class="form-control" [(ngModel)]="currentBeerEdit.brand"  placeholder="Brand:">
	  </div>
	  <div class="form-group">
	    <label for="">ABV: </label>
	    <input type="ABV" class="form-control" [(ngModel)]="currentBeerEdit.ABV"  placeholder="ABV:">
	  </div>
	  <div class="form-group">
	    <label for="">IBU: </label>
	    <input type="IBU" class="form-control" [(ngModel)]="currentBeerEdit.IBU"  placeholder="IBU:">
	  </div>
	  <div class="form-group">
	    <label for="">Price: </label>
	    <input type="price" class="form-control" [(ngModel)]="currentBeerEdit.price"  placeholder="Price:">
	  </div>
	  <div class="form-group">
	    <label for="">ImageUrl: </label>
	    <input type="imageUrl" class="form-control" [(ngModel)]="currentBeerEdit.imageUrl"  placeholder="ImageUrl:">
	  </div>
	  <div class="form-group">
	    <label for="">pints: </label>
	    <input type="pints" class="form-control" [(ngModel)]="currentBeerEdit.pints"  placeholder="pints:">
	  </div>

	  <button (click)="editKeg(currentBeerEdit)" class="btn btn-default">Update</button>
</div>
<div *ngIf="add">
		<div class="form-group">
			<label for="">Name: </label>
			<input class="form-control"  placeholder="Name:" [(ngModel)]="name">
		</div>
		<div class="form-group">
			<label for="">Description: </label>
			<input  class="form-control"  placeholder="Description:" [(ngModel)]="description">
		</div>
		<div class="form-group">
			<label for="">Style: </label>
			<input  class="form-control"  placeholder="Style:" [(ngModel)]="style">
		</div>
		<div class="form-group">
			<label for="">Origin: </label>
			<input  class="form-control"  placeholder="Origin:" [(ngModel)]="origin">
		</div>
		<div class="form-group">
			<label for="">Brand: </label>
			<input  class="form-control"   placeholder="Brand:" [(ngModel)]="brand">
		</div>
		<div class="form-group">
			<label for="">ABV: </label>
			<input  class="form-control" placeholder="ABV:" [(ngModel)]="abv">
		</div>
		<div class="form-group">
			<label for="">IBU: </label>
			<input  class="form-control" placeholder="IBU:" [(ngModel)]="ibu">
		</div>
		<div class="form-group">
			<label for="">Price: </label>
			<input  class="form-control"   placeholder="Price:" [(ngModel)]="price">
		</div>
		<div class="form-group">
			<label for="">ImageUrl: </label>
			<input  class="form-control" placeholder="ImageUrl:" [(ngModel)]="imageurl">
		</div>
		<div class="form-group">
			<label for="">pints: </label>
			<input  class="form-control"  placeholder="pints:" [(ngModel)]="pints">
		</div>

	<input class="btn btn-success" value="Submit" (click)="addKeg()">
	</div>


<div class="row" *ngIf="details">
	<div class="col-xs-2">
		<div class="keg-details">
			<div class="details--image">
				<img src="{{currentBeer.imageUrl}}" alt="" />
			</div>
			<div class="details--growlers">
				<div class="growlers--small">
					<h3>16oz</h3>
					<div class="small--size">
						small growler
					</div>
					<h3>Buy</h3>
				</div><!--end growler  small-->
				<div class="growlers--large">
						<h3>32oz</h3>
						<div class="small--size">
							small growler
						</div>
						<h3>Buy</h3>
				</div><!--end growler  large-->
			</div><!--end details  growlers-->

	</div><!--keg-details-->
</div><!--end col-xs-2-->
<div class="col-xs-10">
		<div class="beer">
			<div class="beer--header">
				<div class="beer--title"><h2>{{currentBeer.name}}</h2></div>
				<div class="beer--style"><h3>{{currentBeer.style}}</h3></div>
			</div>
			<p class="beer--description">
				{{currentBeer.description}}
			</p>
			<div class="beer--characteristics">
				<div class="beer--abv">
					{{currentBeer.ABV}}
				</div>
				<div class="beer--ibu">
					{{currentBeer.IBU}}
				</div>
			</div>
		</div><!-- end beer-->

		<div class="pricing">
			<div class="pricing--refill">

			</div>
			<div class="pricing--price">
				<div class="price--title">{{currentBeer.price}}$</div>
				<span class="pricing--separator">/</span>
				<span class="pricing--pint">{{currentBeer.pints}}</span>
			</div>
		</div><!--end pricing-->
</div><!--end col-xs-10-->

</div><!--end row-->

</div>
