/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Arvo');

body {
  height: 100%;
  background-color: #333;
  font-family: "Arvo", serif;
  color: #fff;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}
h3{
  font-size: 18px;
  text-transform: uppercase;
}
h4{
  font-size: 13px;
}
h5{
  margin-top: 1em;
  font-size: 15px;
}
div[class*="col-"] h2, div[class*="col-"] h5, .card-header{
  color: #444;
  text-shadow: none;
}

.keg{
/*background-color: rgba(4,4,4, .2);*/
z-index: -1;
border-radius: 7px;
box-shadow: 3px 3px 3px #222;
    margin: 5px;
  padding:15px;
}
    .filter{
      margin-right: .35em;
    }
    .tap{
      background-color: rgb(221, 170, 50);
      padding: .5em;
      color: #111;
      text-shadow: none;
    }
    .glass {
    	height: 145px;
      width: 57px;
      position: relative;
      margin-left: auto;
      margin-right: auto;
    	background-image: url('assets/beer-glass.png');
      background-position: center;
    	background-repeat: no-repeat;
    }
    .liquid {
      z-index:-1;
      position: absolute;
      bottom: 20px;
      /*left: 35%;*/
      /*margin-left: -170px;*/
      /*transform: rotate(180deg);*/
      /*transform: translate(52%);*/
      width: 57px;
      height: 100%;
      /*margin-bottom: 0;*/
      margin-left:auto;
      margin-right:auto;
      background-image: -webkit-linear-gradient(bottom, rgb(255, 136, 0), rgb(255, 203, 0))
    }
    .circle{
      border-radius: 100%;
      width: 130px;
    }
    .btn{
    	/*background-color: transparent;*/
    	/*border: 2px solid #232323;*/
      margin-top: 5px;
      border-radius: 5px;
    	transition: background-color .3s ease-in-out;
    }
    .btn:hover{
    	background-color: rgb(221, 170, 50);
    }

    .style{
      background-color: #272727;

      padding: .75em;
      margin-top: .55em;

    }
.ribbon {
		padding: .24em 1em;
		margin: 0;
		margin-top: 5%;
		position:relative;
		color: #ffffff;
		font: 32px 'Patua One', sans-serif;
		text-align: center;
		letter-spacing:0.1em;
		text-shadow: 0px -1px 0px rgba(0,0,0,0.3);
		box-shadow: inset 0px 1px 0px rgba(255,255,255,.3),
					inset 0px 0px 20px rgba(0,0,0,0.1),
					0px 1px 1px rgba(0,0,0,0.4);
		 background: -webkit-linear-gradient(top,#1eb2df, #17a7d2);
      display: inline-block;
	}

.ribbon:before, .ribbon:after {
		content: "";
		width:.2em;
		bottom:-.5em;
		position:absolute;
		display:block;
		border: .9em solid #1eb2df;
		box-shadow:0px 1px 0px rgba(0,0,0,0.4);
		z-index:-2;
	}

.ribbon:before {
		left:-1.35em;
		border-right-width: .75em;
		border-left-color:transparent;
	}

.ribbon:after {
		right:-1.35em;
		border-left-width: .75em;
		border-right-color:transparent;
	}

/*.content:before, .content:after {
		content:"";
		bottom:-.5em;
		position:absolute;
		display:block;
		border-style:solid;
		border-color: #0675b3 transparent transparent transparent;
		z-index:-1;
	}

.content:before {
	  left: 0;
	  border-width: .5em 0 0 .5em;
	}

.content:after {
	  right: 0;
	  border-width: .5em .5em 0 0;
	}*/

.style h3 {
  font-size: 17px;
}

html {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
          box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
}
